header {
  background: rgb(50, 50, 50);
  height: 20dvh;
  width: auto;
}

.content-width {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo_title_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 16px;
}

.pokeball_img {
  height: 160px;
  width: auto;
  padding-top: 20px;
}

h1 {
  color: antiquewhite;
  padding-left: 16px;
}

h2 {
  color: antiquewhite;
}

main {
  flex: 1;
  background: rgb(100, 100, 100);
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.pokemon_card {
  background: rgb(25, 25, 25);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 350px;
  border-radius: 12%;
}

.pokemon_card:hover {
  cursor: pointer;
}

.number_name_types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon_img {
  height: 250px;
  width: 250px;
  border-radius: 12%;
  object-fit: contain;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pokemon_img:hover {
  transform: scale(1.08);
  filter: drop-shadow(0px 12px 20px rgba(0, 0, 0, 0.4));
}

.pokedex_number {
  color: rgb(150, 150, 150);
  padding-top: 16px;
}

h2 {
  padding-bottom: 16px;
  text-align: center;
}

.type-badge {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: black;
  border-radius: 5%;
}

.copyright_footer {
  color: antiquewhite;
  max-width: 1920px;
  margin: 0 auto;
}

footer {
  background: rgb(50, 50, 50);
  height: 20dvh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
