#open_pokemon_card {
  background: rgb(25, 25, 25);
  height: 725px;
  width: 800px;
  border: 2px solid antiquewhite;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.pokemon_card_open {
  height: 700px; /* dialog's not closing by clicking on the bottom of it */
}

#open_pokemon_card::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 2s ease-in;
}

#open_pokemon_card.opened::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

#open_pokemon_card.opened {
  overscroll-behavior: contain;
}

.close_pokemon_card_btn {
  background: antiquewhite;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10; /* button alway a layer over other elements like the picture */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 4px;
}

.close_pokemon_card_btn:hover {
  cursor: pointer;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.pokedex_number_open {
  color: rgb(150, 150, 150);
  padding-top: 24px;
  padding-left: 24px;
}

.pokemon_img_circle_container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pokemon_img_open {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 30px;
  box-sizing: border-box;
}

.pokemon_img_type_open {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.h2_open {
  padding-bottom: 24px;
  margin-right: 24px;
}

.name_type_open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
}

.types_open {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.p_tag_type_open {
  padding-right: 16px;
}

.type-badge-open {
  text-align: center;
  height: 40px;
  width: 100px;
  color: black;
  border-radius: 5%;
  margin-right: 8px;
}

.flavor_text {
  color: antiquewhite;
  margin: 24px;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: safe center;
  justify-content: center;
  overflow-y: auto;
}

.statistics_divide {
  display: flex;
  justify-content: space-between;
}

.statistics_open {
  color: black;
  padding-left: 16px;
  flex: 1;
  padding: 16px;
  border-radius: 12px;
}

.base_stats {
  color: black;
}

.nav_btns_statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.nav_btn_left {
  background: antiquewhite;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  margin-right: 16px;
}

.nav_btn_right {
  background: antiquewhite;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  margin-left: 16px;
}

.nav_btn_left:hover {
  cursor: pointer;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.nav_btn_right:hover {
  cursor: pointer;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

@media (max-width: 800px) {
  .pokedex_number_open {
    padding-left: 16px;
  }
  .pokemon_img_type_open {
    justify-content: center;
  }
  .name_type_open {
    margin-left: 16px;
  }
  .flavor_text {
    margin: 16px;
  }
  .nav_btns_statistics {
    margin-left: 16px;
    margin-right: 16px;
  }
  .statistics_1 {
    margin-right: 24px;
  }
}






