* {
  font-family: "Monda", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

.h2_open {
  font-size: 40px;
}

.p_tag_type_open {
  font-size: 30px;
  font-weight: 300;
}

.search_btn {
  font-size: 16px;
  font-weight: 300;
}

.search_input {
  font-size: 16px;
  font-weight: 300;
}

.pokedex_number {
  font-size: 25px;
  font-weight: 300;
}

.pokedex_number_open {
  font-size: 35px;
  font-weight: 300;
}

.flavor_text {
  font-size: 20px;
  font-weight: 300;
}

.base_stats {
  font-size: 30px;
  font-weight: 500;
}

.statistics_1, .statistics_2 {
  font-size: 25px;
  font-weight: 400;
}

.type-badge {
  font-size: 20px;
}

.type-badge-open {
  font-size: 25px;
}

.nav_btn_left, .nav_btn_right {
  font-size: 30px;
}

 

.copyright_footer {
  font-size: 40px;
  font-weight: 300;
}
