* {
  font-family: "Monda", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

.h2_open {
  font-size: 40px;
}

.p_tag_type_open {
  font-size: 30px;
  font-weight: 300;
}

.search_btn {
  font-size: 16px;
  font-weight: 300;
}

.search_input {
  font-size: 16px;
  font-weight: 300;
}

.pokedex_number {
  font-size: 25px;
  font-weight: 300;
}

.pokedex_number_open {
  font-size: 35px;
  font-weight: 300;
}

.flavor_text {
  font-size: 18px;
  font-weight: 300;
}

.base_stats {
  font-size: 30px;
  font-weight: 500;
}

.statistics_1,
.statistics_2 {
  font-size: 25px;
  font-weight: 400;
}

.type-badge {
  font-size: 20px;
}

.type-badge-open {
  font-size: 25px;
}

.nav_btn_left,
.nav_btn_right {
  font-size: 30px;
}

.copyright_footer {
  font-size: 40px;
  font-weight: 300;
}

#search_message {
  font-size: 16px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
  .copyright_footer {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 100px;
  }
  .copyright_footer {
    font-size: 25px;
  }
  .base_stats {
    font-size: 25px;
  }
  .statistics_1,
  .statistics_2 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }

  .copyright_footer {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 70px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 55px;
  }
  .h2_open {
    font-size: 35px;
  }
  .type-badge-open {
    font-size: 25px;
  }
}
