* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-size: inherit;
}

/* no jumping after closing the dialog */
html {
  scrollbar-gutter: stable;
}